@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-row {
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}
